
<%= form_for(project) do |f| %>
  
  <div class="form-group">
      <%= f.label :name, :class => '', :value => 'Nombre' %>
      <%= f.text_field :name, :class => 'form-control input-lg', :placeholder => 'Nombre' %>
      <%
      if @project.errors[:name].count > 0
          %><p class="help-block"><%= @project.errors[:name][0] %></p><%
      else
          %><p class="help-block">Debes seleccionar un nombre corto y preciso para captar la
            atención de los usuarios.</p><%
      end
      %>
  </div>
  <div class="form-group">
    <%= f.label :description, :value => 'Descripción' %>
    <%= f.text_area :description, :class => 'form-control', :rows => 10 %>
    <%
    if @project.errors[:name].count > 0
      %><p class="help-block"><%= @project.errors[:description][0] %></p><%
    else
      %><p class="help-block">Debes ingresar una descripción bien detallada de lo que necesitas,
        incorporando alcances y resultado final esperado.</p><%
    end
    %>
  </div>

  <div class="actions">
      <%= f.submit :class => 'btn btn-default', :value => 'Publicar Proyecto' %>
  </div>
<% end %>
