<!DOCTYPE html>
<html>
  <head>
    <title>Goobuild</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
      <%= render 'shared/header' %>
      </header>
      <div class="menu-left">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="content">
          <%= yield %>
      </div>
  </body>
</html>
